@import url(<style> @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;900&display=swap');

* {margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Raleway', sans-serif;}

body{
    background-color: white ;
}

.hero-section{
    border: 1px solid #000;
    width: 100%;
    height: 500px;background-image: url('../img/background.webp');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    background-color: #7faa97;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-section h1{
    font-weight: 900;
    font-size: 45px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.hero-section p{
    max-width: 600px;
    font-size: 18px;
    font-weight: 400px;
    letter-spacing: .5px;
    text-align: center;
}
footer{
    width: 100%;
    margin-top: 30px;
    padding: 15px;
    text-align: center;
    background-color: #7faa97;
    color: #fff;
    font-weight: 700;

}

section{
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
section h2{
    font-weight: 900;
    font-size: 75px;
    text-transform: uppercase;
    text-decoration: underline;
    margin: 30px 0;
}
article{
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    border-radius: 8px;
    display: flex;
    align-items:center;
    gap: 15px;


}
article > img {
    width: 300px;
}
.article-info {
    display: flex;
flex-direction: column;
gap: 15px;
max-width: 750px;
}